# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ilk
*.sdf
*.log
*.suo
*.pdb
*.idb
*.tlog
*.suo
*.log
*.pdb
*.tlog
*.filters
*.log
*.filters
*.vcxproj
JelloSim.v11.suo